@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');

$primary-color: #2F80ED;
$secondary-color: #EB5757;
$input-color: #BDBDBD;
$border-color: #828282;

.app {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  width: 610px;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
}

.todo{
  width: 100%;
  text-align: left;
  display: flex;
  word-break: break-all;
  position: relative;

  p{
    max-width: 86%;
    margin: 13px 10px;
    font-size: 18px;
  }
  
  *{
    display: inline-block;
  }

  &__input{
    margin: 15px 0;
  }

  &__add-button{
    color: white;
    font-size: 14px;
    font-weight: 600;
    background: $primary-color;
    height: 56px;
    width: 109px;
    border-radius: 12px;
    border: none;
    &:hover{
      background: darken($primary-color, 10%);
    }
    &:active{
      background: darken($primary-color, 20%);
    }
  }

  &__add-input{
    padding: 0 10px;
    margin-right: 20px;
    height: 56px;
    width: 455px;
    border-radius: 12px;
    border: 1px solid $input-color;
    &::placeholder{
      font-size: 14px;
    }
  }



  &__delete{
    position: absolute;
    right: 0;
    align-self: center;
    user-select: none;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
    color: $border-color;

    &:hover{
      color: #ec8484;
    }
  }

  &-list{
    list-style: none;
    min-height: 500px;

    &__delete-all{
      margin-top: 20px;
      float: right;
      button{
        width: 124px;
        height: 40px;
        border-radius: 4px;
        border: none;
        font-size: 12px;
        font-weight: 600;
        color: white;
        padding: 0;
        background: $secondary-color;
        span{
          margin-right: 5px;
          position: relative;
          top: 4px;
          font-size: 18px;
        }
        &:hover{
          background: darken($secondary-color, 10%);
        }
        &:active{
          background: darken($secondary-color, 20%);
        }
      }
      &-text{
        position: relative;
        top: -4px;
      }
    }
  }

  &--disabled{
    display: none;
  }

  &--completed p{
    text-decoration: line-through;  
  }
}

.disabled{
  display: none;
}

.menu{
  border-bottom: $input-color solid 1px;
  margin-bottom: 10px;
  
  ul{
    list-style: none;
    display: flex;
    margin-bottom: 9px; 
    justify-content: space-around;
  }

  li{
    display: inline-block;
    cursor: pointer;
    &::after{
      top: 10px;
      position: relative;
      display: block;
      content: ' ';
      height: 6px;
      width: 100px;
      border-radius: 4px 4px 0 0;
      background: $primary-color;
      opacity: 0;
    }

    &:hover::after{
      opacity: 0.5;
    }

    &.menu-active::after{
      opacity: 1;
    }
  }
}

/* Adapted from the w3schools tutorial*/
.checkbox-{
  
  &container {
    align-self: center ;
    position: relative;
    top: -2px;
    left: 3px;
    height: 24px;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Hide the browser's default checkbox */
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      top: 0;
      left: 0;
    }
  }

  /* Create a custom checkbox */
  &checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 4px;
    border: 1px solid $border-color;
    
    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkbox-checkmark {
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkbox-checkmark {
  background-color: $primary-color;
  border: 1px solid $primary-color;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkbox-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkbox-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}