@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$primary-color: #2F80ED;
$secondaty-color: red;
$input-color: #BDBDBD;


.app {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  width: 610px;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
}

.todo{
  text-align: left;
  display: flex;
  *{
    display: inline-block;
  }

  &__input{
    margin: 15px 0;
  }

  &__add-button{
    color: white;
    font-size: 14px;
    font-weight: 600;
    background: $primary-color;
    height: 56px;
    width: 109px;
    border-radius: 12px;
    border: none;
  }

  &__add-input{
    padding: 0 10px;
    height: 56px;
    width: 476px;
    border-radius: 12px;
    border: 1px solid $input-color;
    &::placeholder{
      font-size: 14px;
    }
  }

  &-list{
    list-style: none;
  }
  &--disabled{
    display: none;
  }

  &--completed{
    p{
      text-decoration: line-through;
    }
  }


}

.disabled{
  display: none;
}

.menu{
  border-bottom: $input-color solid 1px;
  margin-bottom: 10px;
  
  ul{
    list-style: none;
    display: flex;
    margin-bottom: 9px; 
    justify-content: space-around;
  }

  li{
    display: inline-block;
    cursor: pointer;
    &::after{
      top: 10px;
      position: relative;
      display: block;
      content: ' ';
      height: 6px;
      width: 100px;
      border-radius: 4px 4px 0 0;
      background: $primary-color;
      opacity: 0;
    }
    &:hover::after{
      opacity: 0.5;
    }
    &.menu-active::after{
      opacity: 1;
    }
  }


}