.App {
  text-align: center;
}

.todo{
  &__text{
      &--completed{
          text-decoration: line-through;
      }
  }

  &--disabled{
    display: none;
  }

  &--completed{
    p{
      text-decoration: line-through;
    }
  }
}